.color-1 {color: #ffccbc;}
.color-2 {color: #c8e6c9;}
.color-3 {color: #bbdefb;}
.color-4 {color: #c5cae9;}
.color-5 {color: #e1bee7;}
.color-6 {color: #f8bbd0;}
.color-7{color: #80deea;}
.color-8{color: #e6ee9c;}
.color-9{color: #ffcc80;}
.color-10{color: #b0bec5;}
.color-11{color: #bcaaa4;}
.color-12{color: #fff59d;}
